/* 加载资源 - loadSource */
.loadSource{
}
.loadSource_content{
  padding: 12px;
}
.loadSource_btn {
  >button{
    margin-right: 8px;
    margin-bottom: 12px;
  }
}

/* 信息获取 - getInfo */

.getInfo_page_content button{
  margin-right: 8px;
  margin-bottom: 8px;
}