.popup{
  width: 500px;
  height: 600px;
  background-color: #f1f3f5;
}
.popup_header{
  height: 50px;
  display: flex;
  padding: 0 10px;
  align-items: center;
  background-color: #fff;
}

.popup_header > img{
  height: 35px;
  margin-right: 10px;
}